<div class = table-responsive>
<table class="table">
	<tr>
		<th><strong>Commenter:</strong></th>
		<th><strong>Comment:</strong></th>
		<th><strong>Options</strong></th>
	</tr>
	<td class=col-md-3><strong><%= comment.commenter %></td></strong>
	<td class=col-md-6><strong><%= comment.body %></strong>
	<%= render "replies/replies", replies: comment.replies%>
	</td>
	<td class=col-md-3>
	<% if user_signed_in? %>
	<%if  current_user.has_role? [:admin] %>
	<%= link_to 'delete Comment', [comment.article, comment],
		method: :delete,
		data: { confirm: 'Are you sure?' }, :class =>"btn btn-danger" %>
		<% end %>
	<% else %>
		<p>Only admin Can delete<p>
	<%end%>
	<%= render 'replies/form', comment: comment %>
	</td>
</table>
</div>